

.cabezera{
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.imagen{
    width: 300px;
    height: 110px;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenido-principal{
    padding: 2rem;
    flex-grow: 1;
}

form legend{
    color: darkblue;
    font-weight: bold;
}

form fieldset{
    border: solid 2px darkgoldenrod;;
    border-radius: 7px;
    background-color: #f4f1ed;
    color: firebrick;
    width: 400px;
}

.forma-formulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
}

.imagen-formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botones{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

footer h3{
    color: #F7C600;
}

