/* Reset y base */

/* box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*El body se convierte en contenedor flex
-flex direction column aplica verticalmente el header main y footer
- min heigh 100vh altura total del vieport
*/
/* Configuración general*/

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecera {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #fff;
    text-decoration: none; /*Quita el subrayado*/
    font-weight: bold; /*Aplica negrita*/
    padding: 1rem;
}

.menu a:hover {
    color: #e74c3c;
    background-color: #fff;
}

.logo {
    height: 100px;
    width: auto;
}
/* Titulo de la cabezera sin márgenes extra y color*/
.Titulo{
    margin: 0;
    color: aqua;
    text-align: center;
}

#contenido-principal{
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*Centraremos cabezera y pie*/


/* Clase="targeta" */

.tarjeta{
    background-color: #fff;
    width: min(900px, 95%);
    margin: 1rem auto;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2PX 5PX rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;
    transition: transform 0.5s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

/*
Listas en dos columnoas: usamos flxbox para alinear dos elementos en horizontal
*/

.listas {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap; /*Sirve para cuando se encoja se valla abajo*/
}

/*Ajustes visuales de las listas*/

.lista {
    padding-left: 20px; /*Espacio para las viñetas*/
}

.lista li{
    margin: 0.25rem 0;
}

.tabla{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
}
/*Bordes y relleno de la tabla*/

.table th td{
    border: 1px solid #ddd;
}

/*Contenido de tabla alineado a la izquierda*/

.tabla td {
    text-align: left;
    white-space: nowrap; /*Evita saltos de lineas en celdas*/
}

/* Cabezera de la tabla con estilo diferenciado*/

.tabla th{
    background-color: #2c3e50;
    color: #fff;
    margin-top: 1rem;
}


/*Estilo pie de página*/
.pie{
    color: #333;
    font-size: 14px;
    background: #805c5c;
    text-align: center;
    padding: 1rem;
}


/*Formulario*/

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}

input{
    margin-bottom: 10px;
}

#Centro {
    text-align: center;
}



/*Formulario de Registro*/

.form-registro{
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    display: flex;              /* los fieldset se colocan uno de manera flexible y uno debajo de otro*/
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    width: 380px;
    margin: 0 auto;
}

.form-filas{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0,5rem;
}

.form-filas label{
    font-weight: bold;
}

.form-filas button{
    background-color: firebrick;
    color: white;
    padding: 0,5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-filas button:hover{
    background-color:white;
    color: #333;
}